/* BASE */ /* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*FONTS*/
/*FONTS*/
/*COLORS*/
/*COLORS*/
/*MEDIA*/
/*MEDIA*/
body {
  font-size: 16px;
}

a {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.container {
  max-width: 1320px;
  padding: 0 40px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.button {
  border: 1px solid black;
}

.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #000;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* BASE */
/* TIC TAC TOE */
.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #000;
}

.game__info {
  margin-bottom: 10px;
}

.game__field {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30px)[3];
  grid-template-columns: repeat(3, 30px);
  -ms-grid-rows: (30px)[3];
  grid-template-rows: repeat(3, 30px);
  padding: 1px 0 0 1px;
}

.game__field > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.game__field > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.game__field > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.game__field > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.game__field > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.game__field > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.game__field > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.game__field > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.game__field > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.cell {
  border: 1px solid #000;
  margin: -1px 0 0 -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
}

.cell--win {
  background: rgba(255, 0, 0, 0.1);
}

.symbol {
  font-size: 20px;
  line-height: 24px;
}

.symbol--x {
  color: red;
}

.symbol--o {
  color: green;
}

/* TIC TAC TOE */